body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;

  color: getColor('text-dark');

  background-color: getColor('bg-body');
}

.container {
  outline: 1px solid green;
  margin: 0 auto;
  padding: 0 2.5rem;

  width: 90rem;
}

.section {
  padding-bottom: 6.25rem;
  width: 100%;
}

.section__title {
  font-size: 3.75rem;
}
