body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;

  color: getColor('text-dark');

  background-color: getColor('bg-body');
}

.container {
  outline: 1px solid green;
  margin: 0 auto;
  padding: 0 1rem;

  max-width: 90rem;

  @include media('tablet') {
    padding: 0 2.5rem;
  }
}

.section {
  outline: 1px solid tomato;
  padding-bottom: 6.25rem;
  width: 100%;
  text-align: center;
}

.section__title {
  margin-bottom: 2.5rem;
  font-size: 3.75rem;
  line-height: 1.25;

  &--accent {
    color: getColor('text-accent');
    font-style: italic;
  }
}

.icon {
  fill: getColor('opacity');
  stroke: getColor('text-dark');
}
