.footer {
  margin-bottom: 2.5rem;

  color: getColor('text-light');

  &--container {
    padding: 3.75rem 0.95rem;

    display: flex;
    flex-direction: column;

    gap: 2.5rem;

    background-color: getColor('bg-container');
    border-radius: 2.5rem;

    @include media('tablet-visible') {
      padding: 6.25rem 3.75rem;

      gap: 6.25rem;
    }

    @include media('desktop') {
      padding: 6.25rem;

      flex-direction: row;
      align-items: center;
      gap: 6.25rem;
    }
  }
}

.footer__wrap {
  @include media('tablet') {
    flex-basis: 45.5%;
  }
}

.footer__socials {
  display: flex;
  gap: 0.75rem;
}

.address {
  @include media('desktop-lg') {
    padding-top: 0.1rem;
    padding-left: 0.3rem;
  }
}

.address__title {
  margin-bottom: 2.2rem;
  font-size: 1.5rem;
  line-height: 1.25;
}
.address__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.address__link {
  position: relative;
  padding: 0.25rem 0;
  display: flex;
  gap: 0.5rem;

  & > svg {
    stroke: getColor('text-light');
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: getColor('text-light');
    transform: scaleX(0);

    @include animated(transform);
  }
}
@media (hover: hover) {
  a.address__link:hover,
  a.address__link:focus {
    &::after {
      transform: scaleX(1);
    }
  }
}
