.favorite__slider {
  position: relative;
  margin-bottom: 2.5rem;
}

.favorite__slider-wrap {
  overflow: hidden;

  display: flex;
  justify-content: start;

  width: 100%;
  margin: 0 auto;
  @include media('phone') {
    width: 21.75rem;
  }
  @include media('mobile') {
    width: 30.5rem;
  }
  @include media('desktop-lg') {
    width: 30rem;
  }
}
.favorite__list {
  display: flex;
  justify-content: center;
  @include animated(transform);
}

.favorite-card {
  flex-shrink: 0;

  &__image {
    margin: 0 auto 1.25rem;
  }
  &__title,
  &__text {
    margin-bottom: 1rem;
  }
  &__text {
    font-weight: 400;
  }
  &__title,
  &__price {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.favorite--btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include media('tablet-visible', max) {
    display: none;
  }

  &__left {
    left: 0.25rem;
  }
  &__right {
    right: 0.25rem;
  }
}

.favorite__dots {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.favorite__dot {
  width: 2.5rem;
  height: 0.25rem;
  border-radius: 6.25rem;
  background-color: getColor('border-light');

  overflow: hidden;

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-color: getColor('border-dark');

    transform: translateX(-100%);
  }
  &.active {
    &::after {
      transform: translateX(0);
      transition-property: transform;
      transition-duration: 7000ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
