.hero--container {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: calc(100% - 5rem);
    height: 100%;
    background: rgba(64, 63, 61, 0.3);
    border-radius: 2.5rem;

    z-index: 1;
  }
}

.hero-wrap {
  position: relative;
  z-index: 2;
  padding: 6.25rem 0 6.25rem 6.25rem;
  max-width: 39.375rem;
}

.hero--title {
  font-size: 4.5rem;
  line-height: 1.05;
  color: getColor('text-light');
}

.text {
  margin-top: 2.5rem;
  font-weight: 400;
  color: getColor('text-light');
}

.hero-video {
  position: absolute;
  top: 0;
  left: 2.5rem;
  width: calc(100% - 5rem);
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
  background-color: getColor('bg-backdrop');
}
