.mobile-app--container {
  text-align: left;

  @include media('desktop-lg') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.mobile-app--wrap {
  outline: 1px solid tomato;
  margin-bottom: 2.5rem;

  @include min-max('mobile', 'tablet') {
    &:last-child {
      padding: 0 1.81rem;
    }
  }

  @include media('tablet') {
    flex-basis: calc((100% - 6.25rem) / 2);
    margin: 0;
  }
}

.mobile-app__text {
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.mobile-app--stores {
  & > li:first-child {
    margin-bottom: 1.25rem;
  }
  @include media('mobile') {
    display: flex;
    gap: 1.25rem;

    & > li {
      margin: 0;
    }
  }
}
